In [132]:
import pandas as pd
import numpy as np
import datetime as dt

Important is you

In [39]:
f+0.5

7.5

In [41]:
type(f+0.5)

float

In [42]:
z=f+0.5
z

7.5

In [44]:
type(z)

float

In [46]:
type(z-0.5)

float

In [47]:
a=z-0.5

In [49]:
a

7.0

In [53]:
a

7.0

In [56]:
b=7

In [59]:
a+b

14.0

In [67]:
i=str(7.5)
i

'7.5'

In [69]:
float(i)-6

1.5

In [90]:
a="12"

In [91]:
b="2.2"

In [92]:
a+b

'122.2'

In [93]:
float(a+b)

122.2

In [94]:
r=['pull request', 'open source', 'repository', 'branch']

In [96]:
print(r)
print(tuple(r))

['pull request', 'open source', 'repository', 'branch']
('pull request', 'open source', 'repository', 'branch')

In [97]:
print((r))

['pull request', 'open source', 'repository', 'branch']

In [98]:
(r)

['pull request', 'open source', 'repository', 'branch']

In [99]:
coral = ('blue coral', 'staghorn coral', 'pillar coral')
list(coral)

['blue coral', 'staghorn coral', 'pillar coral']

In [101]:
coral2 = list(('blue coral', 'staghorn coral', 'pillar coral'))
coral2

['blue coral', 'staghorn coral', 'pillar coral']

In [105]:
coral2[1]

'staghorn coral'

In [108]:
data = [1,"hoi",3]
df = pd.DataFrame(data)
df

     0
0    1
1  hoi
2    3

In [110]:
data = [['Axel',32], ['Alice', 26], ['Alex', 45]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

    Name  Age
0   Axel   32
1  Alice   26
2   Alex   45

In [113]:
print(df)

    Name  Age
0   Axel   32
1  Alice   26
2   Alex   45

In [124]:
sum(df['Age'])

103

In [150]:
from datetime import datetime
  
print(datetime.strptime('26/5/2020', '%d/%m/%Y'))

2020-05-26 00:00:00

In [156]:
from datetime import datetime
  
aa=datetime.strptime('26/5:2029 15:30:06', '%d/%m:%Y %H:%M:%S')
  
#today = datetime.datetime(2021, 9, 10, 12, 30, 30)
  
#print(today.strftime("%H:%M:%S %m %d %Y"))

In [166]:
aa.second

6

In [128]:
days_left

datetime.timedelta(days=320)

In [129]:
graduation_day - today

datetime.timedelta(days=320)

In [ ]:
s